@model HopDongMgr.Models.DM_DONVI

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DM_DONVI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_DVIQLY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_DVIQLY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MA_DVICTREN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA_DVICTREN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAP_DVI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAP_DVI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIA_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIA_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_DIA_CHINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DIA_CHINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIEN_THOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIEN_THOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTHOAI_KDOANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTHOAI_KDOANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTHOAI_NONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTHOAI_NONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTHOAI_TRUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTHOAI_TRUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MA_STHUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA_STHUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAI_DIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAI_DIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHUC_VU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUC_VU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SO_UQUYEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_UQUYEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAY_UQUYEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_UQUYEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEN_DVIUQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_DVIUQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DCHI_DVIUQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DCHI_DVIUQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVU_UQUYEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVU_UQUYEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TNGUOI_UQUYEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TNGUOI_UQUYEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEN_TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEBSITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEBSITE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDiaChinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDiaChinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
