@model HopDongMgr.Models.DM_DONVI

@{
    ViewBag.Title = "CẬP NHẬT THÔNG TIN ĐƠN VỊ";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.MA_DVIQLY, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Mã đơn vị</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MA_DVIQLY, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MA_DVIQLY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.TEN_DVIQLY, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Tên đơn vị</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_DVIQLY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEN_DVIQLY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.MA_DVICTREN, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Đơn vị cấp trên</label>
            <div class="col-md-10">
                @Html.DropDownList("MA_DVICTREN", null, "--- Chọn đơn vị cha ---", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MA_DVICTREN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CAP_DVI, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Cấp</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CAP_DVI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CAP_DVI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.DIA_CHI, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Địa chỉ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIA_CHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIA_CHI, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ID_DIA_CHINH, htmlAttributes: new { @class = "control-label col-md-2" })
            <label class="control-label col-md-2">ID địa chính</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_DIA_CHINH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_DIA_CHINH, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.DIEN_THOAI, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Điện thoại</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIEN_THOAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIEN_THOAI, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.DTHOAI_KDOANH, htmlAttributes: new { @class = "control-label col-md-2" })
            <label class="control-label col-md-2">Điện thoại kinh doanh</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTHOAI_KDOANH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DTHOAI_KDOANH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DTHOAI_NONG, htmlAttributes: new { @class = "control-label col-md-2" })
            <label class="control-label col-md-2">Điện thoại nóng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTHOAI_NONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DTHOAI_NONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DTHOAI_TRUC, htmlAttributes: new { @class = "control-label col-md-2" })
            <label class="control-label col-md-2">Điện thoại trực</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTHOAI_TRUC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DTHOAI_TRUC, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.FAX, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Fax</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAX, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAX, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MA_STHUE, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="control-label col-md-2">Mã số thuế</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MA_STHUE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MA_STHUE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DAI_DIEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="control-label col-md-2">Đại diện</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DAI_DIEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DAI_DIEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CHUC_VU, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="control-label col-md-2">Chức vụ</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CHUC_VU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CHUC_VU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SO_UQUYEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="control-label col-md-2">Số ủy quyền</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SO_UQUYEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SO_UQUYEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NGAY_UQUYEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="control-label col-md-2">Ngày ủy quyền</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NGAY_UQUYEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NGAY_UQUYEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TEN_DVIUQ, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="control-label col-md-2">Tên đơn vị ủy quyền</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TEN_DVIUQ, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TEN_DVIUQ, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DCHI_DVIUQ, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="control-label col-md-2">Địa chỉ ủy quyền</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DCHI_DVIUQ, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DCHI_DVIUQ, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CVU_UQUYEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="control-label col-md-2">Chức vụ ủy quyền</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CVU_UQUYEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CVU_UQUYEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TNGUOI_UQUYEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TNGUOI_UQUYEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TNGUOI_UQUYEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TEN_TINH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TEN_TINH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TEN_TINH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WEBSITE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WEBSITE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WEBSITE, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.MaDiaChinh, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Mã địa chính</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaDiaChinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaDiaChinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.TenTat, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Tên tắt</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-danger" />
                <input type="button" value="Quay lại" class="btn btn-info" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    </div>
}
