@model HopDongMgr.Models.CN_DieuChinh
@using HopDongMgr.Models;
@using HopDongMgr.DungChung;
@using System;
@{
    ViewBag.Title = "CẬP NHẬT ĐIỀU CHÌNH HƠP DỒNG";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ThongBaoXoa = "Bạn có chắc chắn muốn xóa điều chỉnh này không?";
    List<CN_DieuChinh> ListDotDieuChinh = new List<CN_DieuChinh>();
    ListDotDieuChinh = (List<CN_DieuChinh>)ViewBag.ListDotDieuChinh;
    CN_HopDong oHopDong = (CN_HopDong)ViewBag.HopDongDC;
    HopDongDC HD = (HopDongDC)ViewBag.DSHD;
    string MaCT = "";
    string TenCT = "";
    if (oHopDong.DM_CongTrinh != null)
    {
        MaCT = oHopDong.DM_CongTrinh.MaCT;
        TenCT = oHopDong.DM_CongTrinh.TenCT;
    }
    string DateHD ="";
    int DotDieuChinhNew = (int)ViewBag.DotDieuChinhNew;
    int IDDC = -1;
    if (ListDotDieuChinh != null)
    {
        IDDC = ListDotDieuChinh.FirstOrDefault().IDDC;
    }
    if(oHopDong != null)
    {
        DateHD = oHopDong.NgayHetHan.Value.ToString("yyyy/MM/dd");
    }

}
<div id="err">
    @Html.Raw(TempData["err"])
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="IDDC" value="@IDDC" name="IDDC"/> 
        <input type="hidden" id="FlagCreate" value="0" name="FlagCreate" /> @*0: cap nhat 1: them moi*@
        <div class="form-group">
            @*@Html.LabelFor(model => model.IDHD, "IDHD", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2"> Đợt điều chỉnh</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.DotDieuChinh, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DotDieuChinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.IDHD, "IDHD", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Mã công trình</label>
            <div class="col-md-4">
                <input class="form-control" value="@MaCT" readonly />
            </div>
            <label class="control-label col-md-2">Tên công trình </label>
            <div class="col-md-4">
                <input class="form-control" value="@TenCT" readonly />
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.IDHD, "IDHD", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2"> Số hợp đồng</label>
            <div class="col-md-4">
                @Html.DropDownList("IDHD", null, htmlAttributes: new { @class = "form-control", @readonly= "readonly"})
                @Html.ValidationMessageFor(model => model.IDHD, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Ngày điều chỉnh <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.NgayDieuChinh, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right cDataPicker", @placeholder = "DD/MM/YYYYY" })
                    @Html.ValidationMessageFor(model => model.NgayDieuChinh, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.GiaTriSauDieuChinh, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2 small">Số ngày gia hạn tiến độ</label>
            <div class="col-md-4">
                <input class="form-control CheckNumber Number-Get-SNGHTD" />
                @Html.EditorFor(model => model.SoNgayGiaHanTienDo, new { htmlAttributes = new { @class = "form-control Number-Set-SNGHTD", @type = "Hidden" } })
                @Html.ValidationMessageFor(model => model.SoNgayGiaHanTienDo, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Ngày hết hạn <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.NgayHetHanDC, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right cDataPicker setDate", @placeholder = "DD/MM/YYYYY" })
                    @Html.ValidationMessageFor(model => model.NgayHetHanDC, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-9" id="errNgayKiemSoat"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Giá trị điều chỉnh</label>
            <div class="col-md-4">
                <input class="form-control CheckNumber Number-Get-GTSDC" />
                @Html.EditorFor(model => model.GiaTriDieuChinh, new { htmlAttributes = new { @class = "form-control Number-Set-GTSDC", @type = "Hidden" } })
                @Html.ValidationMessageFor(model => model.GiaTriDieuChinh, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Loại điều chỉnh</label>
            <div class="col-md-4">
                @Html.DropDownList("IDLoaiDieuChinh", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDLoaiDieuChinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Chênh lệch</label>
            <div class="col-md-4">
                <input class="form-control CheckNumber Number-Get-GTCL" />
                @Html.EditorFor(model => model.ChenhLech, new { htmlAttributes = new { @class = "form-control Number-Set-GTCL", @type = "Hidden" } })
                @Html.ValidationMessageFor(model => model.ChenhLech, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Giá trị trước điều chỉnh</label>
            <div class="col-md-4">
                <input class="form-control CheckNumber" id="GTTDC" type="text" />
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Lý do điều chỉnh</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.LyDoDieuChinh, new { @class = "form-control", @rows = "3" })
                @Html.ValidationMessageFor(model => model.LyDoDieuChinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 ">
                <input type="button" id="ThemMoiDot" value="Thêm mới" class="btn btn-info col-md-2" style="margin-left:4px ;margin-right:2px"/>
                <input type="submit" value="Lưu" class="btn btn-primary col-md-2" style="margin-left:2px ;margin-right:2px"/>
                <input type="button" id="btnXoaDC"value="Xóa" class="btn btn-danger col-md-2" style="margin-left:2px ;margin-right:2px" data-toggle="" data-target="" />
                <input type="button" value="Quay lại" class="btn btn-default col-md-2" style="margin-left:2px ;margin-right:4px"  onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    </div>
            @*lưới thông tin dot dieu chinh*@
            <table id="example" class="table table-condensed  nowrap dataTable dtr-inline ListDotDieuChinh" cellspacing="0" role="grid" aria-describedby="example_info" style="width: 100%;" data-parameter="notCreate">
                <thead>
                    <tr role="row">
                        <th style="display:block">Số hợp đồng</th>
                        <th>Đợt điều chỉnh</th>
                        <th>Ngày điều chỉnh</th>
                        <th>Giá trị điều chỉnh</th>
                        <th>Chênh lệch</th>
                        <th>Số ngày gia hạn tiến độ</th>
                        <th>Ngày hết hạn điều chỉnh</th>
                        <th>Loại điều chỉnh</th>
                        <th>Lý do điều chỉnh</th>
                        <th style="display:none">IDDC</th>
                        <th style="display:none">IDLoaiDieuChinh</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ListDotDieuChinh)
                {
                        <tr role="row" id="@item.IDDC">
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.CN_HopDong.SoHopDong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DotDieuChinh)
                            </td>
                            <td class="text-right">

                                @if (item.NgayDieuChinh.HasValue == true)
                                { @item.NgayDieuChinh.Value.ToString("dd/MM/yyyy");
                                }
                            </td>
                            <td class="text-right">
                                @if (item.GiaTriDieuChinh.HasValue == true)
                                {
                                    @String.Format("{0:0,0}", item.GiaTriDieuChinh.Value);
                                }
                            </td>
                            <td class="text-right">
                                @if (item.GiaTriDieuChinh.GetValueOrDefault(0) == 0)
                                {
                                    @String.Format("{0:0,0}", 0);
                                } else if (item.ChenhLech.HasValue == true)
                                {
                                    @String.Format("{0:0,0}", item.ChenhLech.Value);
                                }
                            </td>
                            <td class="text-right">
                                @if (item.SoNgayGiaHanTienDo.HasValue == true)
                                {
                                    @String.Format("{0:0,0}", item.SoNgayGiaHanTienDo.Value);
                                }
                            </td>
                            <td class="text-right">

                                @if (item.NgayHetHanDC.HasValue == true)
                                { @item.NgayHetHanDC.Value.ToString("dd/MM/yyyy");
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DM_LoaiDieuChinh.TenLoaiDieuChinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LyDoDieuChinh)
                            </td>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.IDDC)
                            </td>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.DM_LoaiDieuChinh.IDLoaiDieuChinh)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

    @section scripts
    { 
        <script type="text/javascript">
            $(document).ready(function () {
                var rowSelect;
                var rowIndex;
                //var ListDotDieuChinh = $('#example').DataTable({
                //    destroy: true,
                //    select: true,
                //    searching: false,
                //    lengthChange: false,
                //    pageLength: 5
                //})
                //ListDotDieuChinh.on('select', function(e, dt, type, indexes){
                //    var rowdata = ListDotDieuChinh.rows(indexes).data().toArray();
                //    rowSelect = ListDotDieuChinh.rows(indexes).data().toArray();
                //    rowIndex = indexes;
                //    var id = rowdata[0][0];
                //    $("#DotDieuChinh").val(rowdata[0][1]);
                //    $("#SoHopDong").val(rowdata[0][0]);
                //    $("#NgayDieuChinh").val(rowdata[0][2]);

                //    $("#GiaTriSauDieuChinh").val(rowdata[0][3].replace(/,/g, ""));
                //    $(".Number-Get-GTSDC").val(rowdata[0][3]);

                //    $("#ChenhLech").val(rowdata[0][4].replace(/,/g, ""));
                //    $(".Number-Get-GTCL").val(rowdata[0][4]);


                //    $("#SoNgayGiaHanTienDo").val(rowdata[0][5].replace(/,/g,""));
                //    $(".Number-Get-SNGHTD").val(rowdata[0][5]);

                //    $("#NgayHetHanDC").val(rowdata[0][6]);


                //    $("#LyDoDieuChinh").val(rowdata[0][8]);
                //    $("#IDDC").val(rowdata[0][9]);
                //    $("#IDLoaiDieuChinh").val(rowdata[0][10]);
                //    $("#FlagCreate").val("0");
                //});
                var table = $('#example').DataTable({
                    responsive: true,
                    language: {
                        url: "//cdn.datatables.net/plug-ins/1.10.15/i18n/Vietnamese.json"
                    },
                    select: true,
                    scrollY: "400px",
                    scrollX: true,
                    aaSorting: false,
                    "columnDefs": [
                                    {
                                        "targets": [0],
                                        "visible": false,
                                    },
                                    {
                                        "targets": [9],
                                        "visible": false,
                                    },
                                    {
                                        "targets": [10],
                                        "visible": false,
                                    }
                                ]
                });
                $('#example tbody').on('click', 'tr', function () {
                    var data = table.row( this ).data();
                    var rowIndex = table.row( this ).index();
                    //alert( 'You clicked on '+data[0]+'\'s row' + rowIndex );
                    var id = data[0];
                    $("#DotDieuChinh").val(data[1]);
                    $("#SoHopDong").val(data[0]);
                    $("#NgayDieuChinh").val(data[2]);

                    $("#GiaTriSauDieuChinh").val(data[3].replace(/,/g, ""));
                    $(".Number-Get-GTSDC").val(data[3]);

                    $("#ChenhLech").val(data[4].replace(/,/g, ""));
                    $(".Number-Get-GTCL").val(data[4]);


                    $("#SoNgayGiaHanTienDo").val(data[5].replace(/,/g,""));
                    $(".Number-Get-SNGHTD").val(data[5]);

                    $("#NgayHetHanDC").val(data[6]);


                    $("#LyDoDieuChinh").val(data[8]);
                    $("#IDDC").val(data[9]);
                    $("#IDLoaiDieuChinh").val(data[10]);
                    $("#FlagCreate").val("0");
                } );

                $('#ThemMoiDot').click( function(){
                    $("#DotDieuChinh").val("@DotDieuChinhNew");

                    $("#NgayDieuChinh").val($.datepicker.formatDate("dd/mm/yy",new Date()));

                    $("#GiaTriSauDieuChinh").val("0");
                    $(".Number-Get-GTSDC").val("0")

                    $("#SoNgayGiaHanTienDo").val("0");
                    $(".Number-Get-SNGHTD").val("0");

                    $("#LyDoDieuChinh").val("");
                    $("#FlagCreate").val("1");
                });

                $(".Number-Get-GTSDC").focusout(function () {
                    var val = $(this).val().replace(/,/g, "");
                    $(".Number-Set-GTSDC").val(val);
                    var ChenhLech = parseInt(val) - parseInt(@HD.GiaTriThucTe)
                    $(".Number-Get-GTCL").val(ChenhLech)
                    $("#ChenhLech").val(ChenhLech)
                    $("#GTTDC").val(@HD.GiaTriThucTe)


                });
                $(".Number-Get-SNGHTD").focusout(function () {
                    var Tongngay = parseInt("0");
                    var val = $(this).val().replace(/,/g, "");
                    $(".Number-Set-SNGHTD").val(val);
                    table.column(5).data().each(function (value, index) {
                        if ($("#FlagCreate").val() == "0") {
                            if (index > rowIndex) {
                                var val1 = parseInt(value.replace(/,/g, ""));
                                if (isNaN(val1)) val1 = 0;
                                Tongngay = Tongngay + val1;
                            }
                        }
                        else if ($("#FlagCreate").val() == "1"){
                            var val1 = parseInt(value.replace(/,/g, ""));
                            if (isNaN(val1)) val1 = 0;
                            Tongngay = Tongngay + val1;
                        }
                        else{}
                    });
                    var Date1 = new Date ("@DateHD");
                    Date1.setDate(Date1.getDate() + Tongngay + parseInt(val));
                    $("#NgayHetHanDC").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", $.datepicker.formatDate('dd/mm/yy', Date1).toString());

                });
            });
            $('#btnXoaDC').click(function () {
                var idSelected = $("#example .selected").attr("id");
                var index = $('.ListDotDieuChinh').DataTable().row('.selected').index();
                if (index > 0 ) {
                    $.notify({
                        // options
                        message: 'Không thể xóa dòng điều chỉnh này.'
                    }, {
                        // settings
                        type: 'danger'
                    });
                    return;
                }
                if (idSelected != undefined) {
                    Loading();
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("Delete")',
                        data: { id: idSelected },
                        success: function (data) {
                            $('#example').DataTable().row('.selected').remove().draw(false);
                            LoadingHide();

                            $.notify({
                                // options
                                message: 'Xóa thành công'
                            }, {
                                // settings
                                type: 'info'
                            });
                        }
                    })
                }
                else
                {
                    $.notify({
                        // options
                        message: 'Chưa chọn dòng điều chỉnh'
                    }, {
                        // settings
                        type: 'danger'
                    });
                }
            });
            $("form").submit(function (e) {
                var serr = "";
                //if (isNaN($(".Number-Set-GTSDC").val()) == true || $(".Number-Set-GTSDC").val() <=0)
                //{
                //    serr =serr +  "Vui lòng nhập giá trị sau điều chỉnh <BR>";
                //}
                //if (isNaN($(".Number-Set-SNGHTD").val()) == true || $(".Number-Set-SNGHTD").val() <=0) {
                //    serr = serr + "Vui lòng nhập số ngày gia hạn tiến dộ <BR>";
                //}
                //if ($("#NgayDieuChinh").val() == "") {
                //    serr = serr + "Vui lòng nhập số ngày gia hạn tiến dộ <BR>";
                //}
                var rr = $("#GiaTriDieuChinh").val();
                var rr = isNaN($("#GiaTriDieuChinh").val());
                if ($("#GiaTriDieuChinh").val() != "" && $("#GiaTriDieuChinh").val() != 0 && ( $("#GiaTriDieuChinh").val() <= @HD.GiaTriThucTe) ) 
                {
                    //serr = serr + "Giá trị điều chỉnh không hơp lệ <BR>";
                }
                if (serr.length > 3)
                {
                    e.preventDefault();
                    $.notify({
                        // options
                        message: serr
                    }, {
                        // settings
                        type: 'danger'
                    });
                }
            });


        </script>
    }
}
