
@model HopDongMgr.Models.CN_DieuChinh
@{
    ViewBag.Title = "CẬP NHẬT ĐIỀU CHÌNH HƠP DỒNG";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ThongBaoXoa = "Bạn có chắc chắn muốn xóa điều chỉnh này không?";
    int DotDieuChinhNew = (int)ViewBag.DotDieuChinhNew;
    List<CN_DieuChinh> ListDotDieuChinh = (List<CN_DieuChinh>)ViewBag.ListDotDieuChinh;
    CN_HopDong oHopDong = (CN_HopDong)ViewBag.HopDongDC;
    Dictionary<string, string> HopDongDieuChinh = new Dictionary<string, string>();
    HopDongDieuChinh = Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string, string>>((string)ViewBag.HopDongDieuChinh);

}
<div id="err">
    @Html.Raw(TempData["err"])
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @<input type="hidden" id="IDDC" value="" name="IDDC" />
        <input type="hidden" id="IDHD" value="@HopDongDieuChinh["IDHD"]" name="IDHD" />
        <input type="hidden" id="FlagCreate" value="0" name="FlagCreate" /> @*0: cap nhat 1: them moi*@
        <div class="form-group row">
            <label class="control-label col-md-2"> Đợt điều chỉnh</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.DotDieuChinh, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DotDieuChinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2">Mã công trình</label>
            <div class="col-md-4">
                <input class="form-control" alt="@HopDongDieuChinh["TenCT"]" value="@HopDongDieuChinh["MaCT"]" readonly />
            </div>
            <label class="control-label col-md-2"> Số hợp đồng</label>
            <div class="col-md-4">
                <input class="form-control" value="@HopDongDieuChinh["SoHopDong"]" readonly />
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2">Ngày điều chỉnh <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.NgayDieuChinh, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right cDataPicker", @placeholder = "DD/MM/YYYYY" })
                    @Html.ValidationMessageFor(model => model.NgayDieuChinh, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2 small">Số ngày gia hạn tiến độ</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.SoNgayGiaHanTienDo, new { htmlAttributes = new { @class = "form-control CheckNumber Number-Set-SNGHTD" } })
                @Html.ValidationMessageFor(model => model.SoNgayGiaHanTienDo, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Ngày hết hạn <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.NgayHetHanDC, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right cDataPicker setDate", @placeholder = "DD/MM/YYYYY" })
                    @Html.ValidationMessageFor(model => model.NgayHetHanDC, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-9" id="errNgayKiemSoat"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2">Giá trị điều chỉnh</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.GiaTriDieuChinh, new { htmlAttributes = new { @class = "form-control CheckNumber Number-Set-GTSDC" } })
                @Html.ValidationMessageFor(model => model.GiaTriDieuChinh, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Loại điều chỉnh</label>
            <div class="col-md-4">
                @Html.DropDownList("IDLoaiDieuChinh", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDLoaiDieuChinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2">Chênh lệch</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.ChenhLech, new { htmlAttributes = new { @class = "form-control CheckNumber Number-Set-GTCL" } })
                @Html.ValidationMessageFor(model => model.ChenhLech, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Giá trị trước điều chỉnh</label>
            <div class="col-md-4">
                <input class="form-control CheckNumber" id="GTTDC" type="text" />
            </div>
        </div>
        <div class="form-group row">
            @*@Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Lý do điều chỉnh</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.LyDoDieuChinh, new { @class = "form-control", @rows = "3" })
                @Html.ValidationMessageFor(model => model.LyDoDieuChinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-md-10 ">
                <input type="button" id="ThemMoiDot" value="Thêm mới" class="btn btn-info col-md-2" style="margin-left:4px ;margin-right:2px" />
                <input type="submit" value="Lưu" class="btn btn-primary col-md-2" style="margin-left:2px ;margin-right:2px" />
                <input type="button" id="btnXoaDC" value="Xóa" class="btn btn-danger col-md-2" style="margin-left:2px ;margin-right:2px" data-toggle="" data-target="" />
                <input type="button" value="Quay lại" class="btn btn-default col-md-2" style="margin-left:2px ;margin-right:4px" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    </div>

    <div>
        <div class="table-scroll60">
            <table id="ListItem" class="table table-striped">
                <thead>
                    <tr class="fixedHeader" role="row">
                        <th class="bg-secondary" nowrap style="display:none" data-override="SoHopDong">Số hợp đồng</th>
                        <th class="bg-secondary" nowrap data-override="DotDieuChinh">Đợt điều chỉnh</th>
                        <th class="bg-secondary" nowrap data-override="NgayDieuChinh">Ngày điều chỉnh</th>
                        <th class="bg-secondary" nowrap data-override="GiaTriDieuChinh">Giá trị điều chỉnh</th>
                        <th class="bg-secondary" nowrap data-override="ChenhLech">Chênh lệch</th>
                        <th class="bg-secondary" nowrap data-override="SoNgayGiaHanTienDo">Số ngày gia hạn tiến độ</th>
                        <th class="bg-secondary" nowrap data-override="NgayHetHanDC">Ngày hết hạn điều chỉnh</th>
                        <th class="bg-secondary" nowrap data-override="TenLoaiDieuChinh">Loại điều chỉnh</th>
                        <th class="bg-secondary" nowrap data-override="LyDoDieuChinh">Lý do điều chỉnh</th>
                        <th class="bg-secondary" nowrap style="display:none" data-override="IDDC">IDDC</th>
                        <th class="bg-secondary" nowrap style="display:none" data-override="IDLoaiDieuChinh">IDLoaiDieuChinh</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CN_DieuChinh item in ListDotDieuChinh)
                    {
                        <tr role="row" id="@item.IDDC">
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.CN_HopDong.SoHopDong)
                            </td>
                            <td name="item.DotDieuChinh">
                                @Html.DisplayFor(modelItem => item.DotDieuChinh)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.NgayDieuChinh)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.GiaTriDieuChinh)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.GiaTriDieuChinh)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.SoNgayGiaHanTienDo)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.NgayHetHanDC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DM_LoaiDieuChinh.TenLoaiDieuChinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LyDoDieuChinh)
                            </td>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.IDDC)
                            </td>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.DM_LoaiDieuChinh.IDLoaiDieuChinh)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

@section scripts
{
    <script src="~/Scripts/jquery.tabletojson.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var rowSelect;
            var rowIndex;
            var ListItemJson = $("#ListItem").tableToJSON({
                includeRowId: true
            });

            $('#ThemMoiDot').click( function(){
                $("#DotDieuChinh").val("@DotDieuChinhNew");
                $("#NgayDieuChinh").val($.datepicker.formatDate("dd/mm/yy",new Date()));
                $("#GiaTriSauDieuChinh").val("0");
                $("#SoNgayGiaHanTienDo").val("0");
                $("#LyDoDieuChinh").val("");
                $("#FlagCreate").val("1");
            });

            $(document).on("click", "#ListItem tbody tr", function () {
                var value = $(this).attr("Id");
                var itemSelect;
                for (var i = 0; i < ListItemJson.length; i++) {
                    if (ListItemJson[i].IDDC == value) {
                        $("#DotDieuChinh").val(ListItemJson[i].DotDieuChinh);
                        $("#NgayDieuChinh").val(ListItemJson[i].NgayDieuChinh);
                        $("#GiaTriDieuChinh").val(ListItemJson[i].GiaTriDieuChinh);
                        $("#ChenhLech").val(ListItemJson[i].ChenhLech);
                        $("#SoNgayGiaHanTienDo").val(ListItemJson[i].SoNgayGiaHanTienDo);
                        $("#NgayHetHanDC").val(ListItemJson[i].NgayHetHanDC);
                        $("#LyDoDieuChinh").val(ListItemJson[i].LyDoDieuChinh);
                        $("#IDDC").val(ListItemJson[i].IDDC);
                        $("#IDLoaiDieuChinh").val(ListItemJson[i].IDLoaiDieuChinh); ///
                        $("#GTTDC").val(ListItemJson[i].IDLoaiDieuChinh); /// GTTDC
                    }
                }

            });

            $('#btnXoaDC').click(function () {
                var idSelected = $("#example .selected").attr("id");
                var index = $('.ListDotDieuChinh').DataTable().row('.selected').index();
                if (index > 0 ) {
                    $.notify({
                        // options
                        message: 'Không thể xóa dòng điều chỉnh này.'
                    }, {
                        // settings
                        type: 'danger'
                    });
                    return;
                }
                if (idSelected != undefined) {
                    Loading();
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("Delete")',
                        data: { id: idSelected },
                        success: function (data) {
                            $('#example').DataTable().row('.selected').remove().draw(false);
                            LoadingHide();

                            $.notify({
                                // options
                                message: 'Xóa thành công'
                            }, {
                                // settings
                                type: 'info'
                            });
                        }
                    })
                }
                else
                {
                    $.notify({
                        // options
                        message: 'Chưa chọn dòng điều chỉnh'
                    }, {
                        // settings
                        type: 'danger'
                    });
                }
            });


            $("form").submit(function (e) {
                var serr = "";
                var rr = $("#GiaTriDieuChinh").val();
                var rr = isNaN($("#GiaTriDieuChinh").val());
                @*if ($("#GiaTriDieuChinh").val() != "" && $("#GiaTriDieuChinh").val() != 0 && ( $("#GiaTriDieuChinh").val() <= @HD.GiaTriThucTe) )
                {
                    //serr = serr + "Giá trị điều chỉnh không hơp lệ <BR>";
                }*@
                if (serr.length > 3)
                {
                    e.preventDefault();
                    $.notify({
                        // options
                        message: serr
                    }, {
                        // settings
                        type: 'danger'
                    });
                }
            });
        });
    </script>
}
}