@using HopDongMgr.Models;
@model HopDongMgr.Models.CN_HopDong
@using System;
@using System.Globalization;

@{
    ViewBag.Title = "CẬP NHẬT THÔNG TIN HỢP ĐỒNG";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sGiatriHD = Model.GiaTriHopDong.HasValue == false ? "0" : string.Format("{0:0,0}", Model.GiaTriHopDong.Value);
    string sGiatriGT = Model.GiaTriGoiThau.HasValue == false ? "0" : string.Format("{0:0,0}", Model.GiaTriGoiThau.Value);
    string sSNTC = Model.SoNgayThiCong.HasValue == false ? "0": string.Format("{0:0,0}", Model.SoNgayThiCong.Value);
    string sSNTH = Model.SoNgayThucHien.HasValue == false ? "0": string.Format("{0:0,0}", Model.SoNgayThucHien.Value);
    SelectList slCT = (SelectList)ViewBag.MaCT;
}

<div>
    @Html.Raw(TempData["err"])
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDHD)

        <div class="form-group">
            @*@Html.LabelFor(model => model.IDLoai, "IDLoai", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Loại hợp đồng <span style="color:red">(*)</span></label>
            <div class="col-md-10">
                @Html.DropDownList("IDLoai", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.SoHopDong, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Số hợp đồng <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.SoHopDong, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.SoHopDong, "", new { @class = "text-danger" })
            </div>
            @*@Html.LabelFor(model => model.NgayKy, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Ngày ký <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.NgayKy, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right cDataPicker", @placeholder ="DD/MM/YYYYY" })
                    @Html.ValidationMessageFor(model => model.NgayKy, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-9" id="errNgayKiemSoat"></div>
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Nội dung hợp đồng</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Công trình <span style="color:red">(*)</span></label>
            <div class="col-md-10">
                @*@Html.DropDownList("MaCT", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("IDCT", slCT, htmlAttributes: new { @class = "form-control col-md-5 selectpicker", @data_live_search = "true", @title = "Chọn công trình..." })
                @Html.ValidationMessageFor(model => model.MaCT, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            @*@Html.LabelFor(model => model.IDDV, "IDDV", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Đơn vị thực hiện</label>
            <div class="col-md-10">
                @Html.DropDownList("IDDV", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDDV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                @*@Html.LabelFor(model => model.IDHT, "IDHT", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2">Hình thức hợp đồng <span style="color:red">(*)</span></label>
                <div class="col-md-4">
                    @Html.DropDownList("IDHT", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDHT, "", new { @class = "text-danger" })
                </div>
            @*@Html.LabelFor(model => model.NamGiaoA, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Năm giao A <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.NamGiaoA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NamGiaoA, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @*@Html.LabelFor(model => model.GiaTriHopDong, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Giá trị hợp đồng <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <input class="form-control CheckNumber Number-Get-GTHD " value="@sGiatriHD" />
                @Html.EditorFor(model => model.GiaTriHopDong, new { htmlAttributes = new { @class = "form-control Number-Set-GTHD", @type = "Hidden" } })
                @Html.ValidationMessageFor(model => model.GiaTriHopDong, "", new { @class = "text-danger" })
            </div>
            @*@Html.LabelFor(model => model.GiaTriGoiThau, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Giá trị gói thầu <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <input class="form-control CheckNumber Number-Get-GTGT " value="@sGiatriGT"/>
                @Html.EditorFor(model => model.GiaTriGoiThau, new { htmlAttributes = new { @class = "form-control Number-Set-GTGT", @type = "Hidden" } })
                @Html.ValidationMessageFor(model => model.GiaTriGoiThau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.SoNgayThucHien, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Số ngày thực hiện <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <input class="form-control CheckNumber Number-Get-SNTH " value="@sSNTH">
                @Html.EditorFor(model => model.SoNgayThucHien, new { htmlAttributes = new { @class = "form-control Number-Set-SNTH", @type = "Hidden" } })
                @Html.ValidationMessageFor(model => model.SoNgayThucHien, "", new { @class = "text-danger" })
            </div>
            @*@Html.LabelFor(model => model.SoNgayThiCong, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Số ngày thi công <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <input class="form-control CheckNumber Number-Get-SNTC " value="@sSNTC">
                @Html.EditorFor(model => model.SoNgayThiCong, new { htmlAttributes = new { @class = "form-control Number-Set-SNTC", @type = "Hidden" } })
                @Html.ValidationMessageFor(model => model.SoNgayThiCong, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Ngày hết hạn <span style="color:red">(*)</span></label>
            <div class="col-md-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.NgayHetHan, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right cDataPicker setDate", @placeholder = "DD/MM/YYYYY" })
                    @Html.ValidationMessageFor(model => model.NgayKy, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-9" id="errNgayKiemSoat"></div>
            </div>
        </div>

        <div class="form-group" style="display: none">
            @*@Html.LabelFor(model => model.XuLyViPham, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Xử lý vi phạm</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.XuLyViPham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.XuLyViPham, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="display: none">
            @*@Html.LabelFor(model => model.GiaTriPhat, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Giá trị phạt</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.GiaTriPhat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaTriPhat, "", new { @class = "text-danger" })
            </div>
            @*@Html.LabelFor(model => model.XuLyTranhChap, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Xử lý tranh chấp</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.XuLyTranhChap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.XuLyTranhChap, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @*@Html.LabelFor(model => model.NguoiTao, "NguoiTao", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Người theo dõi</label>
            <div class="col-md-4">
                @Html.DropDownList("NguoiTao", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.NguoiTao, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Ngày cập nhật</label>
            <div class="col-md-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.NgayCapNhat, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right ", @readonly = "readonly", @placeholder = "DD/MM/YYYYY" })
                    @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group" style="display:none">
            @*@Html.LabelFor(model => model.NguoiCapNhat, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Người cập nhật</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.NguoiCapNhat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NguoiCapNhat, "", new { @class = "text-danger" })
            </div>
            @*@Html.LabelFor(model => model.NgayCapNhat, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Ngày cập nhật</label>
            <div class="col-md-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(model => model.NgayCapNhat, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right cDataPicker", @placeholder = "DD/MM/YYYYY" })
                    @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                    <input type="button" value="Quay lại" class="btn btn-default" onclick="location.href='@Url.Action("Index")'" />
                </div>
            </div>
        </div>

        @section scripts
        {
            <script src="~/Content/plugins/bootstrap-select-1.12.4/js/bootstrap-select.js"></script>
            <script>
            $(document).ready(function () {
                $(".Number-Get-GTHD").focusout(function () {
                    var val = $(this).val().replace(/,/g,"");
                    $(".Number-Set-GTHD").val(val);
                });
                $(".Number-Get-GTGT").focusout(function () {
                    var val = $(this).val().replace(/,/g, "");
                    $(".Number-Set-GTGT").val(val);
                });
                $(".Number-Get-SNTC").focusout(function () {
                    var val = $(this).val().replace(/,/g, "");
                    $(".Number-Set-SNTC").val(val);
                });
                $(".Number-Get-SNTH").focusout(function () {
                    var val = $(this).val().replace(/,/g, "");
                    $(".Number-Set-SNTH").val(val);

                    var NgayHetHan = $("#NgayKy").datepicker("getDate");
                    var Date1 = new Date();
                    NgayHetHan.setDate(NgayHetHan.getDate() + Number(val));
                    $("#NgayHetHan").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", $.datepicker.formatDate('dd/mm/yy', NgayHetHan).toString());
                });
                $('#liDMCT').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
                    // alert(e.target.value);
                    $('#MaCT').val(e.target.value);
                });
            });
            </script>
        }
}

