@{
    if (Session["userid"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
    string callout = "callout-success";
    if (ViewBag.callout != null)
    {
        callout = (string)ViewBag.callout;
    }
}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
    <title>Quản lý hợp đồng</title>
    <!-- Tell the browser to be responsive to screen width -->
    @*<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">*@
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Datepicker/css")
    @Styles.Render("~/Content/DataTables/css/css")
    <!-- Javascript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/datatables")

    <style>
        .datepicker {
            z-index: 1600 !important; /* has to be larger than 1050 */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="~/Home" class="logo" style="text-decoration: none">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Quản Lý Hợp Đồng</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="text-decoration: none">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="logo-mini"><b>&nbsp&nbsp&nbspBan Quản Lý Dự Án Điện Lực Miền Nam</b></span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @*<!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                            <!-- inner menu: contains the messages -->
                            <ul class="menu">
                            <li>
                            <!-- start message -->
                            <a href="#">
                            <div class="pull-left">
                            <!-- User Image -->
                            <img src=@Session["avatar"] class="img-circle" alt="User Image">
                            </div>
                            <!-- Message title and timestamp -->
                            <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                            </h4>
                            <!-- The message -->
                            <p>Why not buy a new awesome theme?</p>
                            </a>
                            </li>
                            <!-- end message -->
                            </ul>
                            <!-- /.menu -->
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                            </li>
                            <!-- /.messages-menu -->
                            <!-- Notifications Menu -->
                            <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                            <li>
                            <!-- start notification -->
                            <a href="#">
                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                            </a>
                            </li>
                            <!-- end notification -->
                            </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                            </ul>
                            </li>
                            <!-- Tasks Menu -->
                            <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                            <!-- Inner menu: contains the tasks -->
                            <ul class="menu">
                            <li>
                            <!-- Task item -->
                            <a href="#">
                            <!-- Task title and progress text -->
                            <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                            </h3>
                            <!-- The progress bar -->
                            <div class="progress xs">
                            <!-- Change the css width attribute to simulate progress -->
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">20% Complete</span>
                            </div>
                            </div>
                            </a>
                            </li>
                            <!-- end task item -->
                            </ul>
                            </li>
                            <li class="footer">
                            <a href="#">View all tasks</a>
                            </li>
                            </ul>
                            </li>*@
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                @*<img src='/Content/images/avatars/@Session["avatar"]' class="user-image" alt="User Image">*@
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@Session["fullname"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    @*<img src='/Content/images/avatars/@Session["avatar"]' class="img-circle" alt="User Image">*@

                                    <p>
                                        @Session["fullname"]
                                        <small>@Session["email"]</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                @*<li class="user-body">
                                    <div class="row">
                                    <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                    </div>
                                    </div>
                                    </li>*@
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        @*<a href=@Url.Action("Edit", "HT_NguoiDung", new { id = Session["userid"] }) class="btn btn-default btn-flat">Tài khoản</a>*@
                                        <a class="btn btn-default btn-flat" onclick="ModalDoimatKhau()">Đổi mật khẩu</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/Home/Logout" class="btn btn-default btn-flat">Thoát</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            @*<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>*@
                            <a href=@Url.Action("About", "Home")><i class="fa fa-question-circle fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                @*<div class="user-panel">
                    <div class="pull-left ">
                        <img src='/Content/images/avatars/@Session["avatar"]' class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left ">
                        <p>@Session["fullname"]</p>
                         Status 
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>*@

                <!-- search form (Optional) -->
                @*<form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                    </button>
                    </span>
                    </div>
                    </form>*@
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                @Html.Action("SideMenu", "Home")
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @*<h1>
                    Page Header
                    <small>Optional description</small>
                    </h1>
                    <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                    </ol>*@

                <div class="callout @callout ">
                    <b>@ViewBag.Title</b>
                </div>
            </section>

            <!-- Main content -->
            <section class="content">

                @RenderBody()
                <div class="modal modal-danger fade in" id="modal-danger" style="display: none; padding-right: 17px;">
                    <div class="modal-dialog modal-MD">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Thông báo</h4>
                            </div>
                            <div class="modal-body">
                                <p>@ViewBag.ThongBaoXoa</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-outline" data-dismiss="modal" id="btnDongY">Đồng ý</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div id='ModalDoimatKhau' class='modal fade in' role="dialog">
                <div class="modal-dialog modal-lg" style="width: 30% ; height: 30%">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <div class="modal-body" id="tableChiTiet" style="overflow: auto; width:100%; height:100%">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-lable col-md-4"> Mật khẩu cũ</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password_old" class="form-control" placeholder="Nhập mật khẩu cũ">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-lable col-md-4"> Mật khẩu mới</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password_new" class="form-control" placeholder="Nhập mật khẩu mới">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-lable col-md-4"> Nhập lại mật khẩu</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password_repair" class="form-control" placeholder="Lặp lại mật khẩu cũ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <input id="btnLuuMatKhau" type="button" value="Lưu" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input id="btnThoatMatKhau" type="button" value="Thoát" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-lable" id="ResultDoiMatKhau"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Designed and Developed by SPCIT
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2017 <a href="#">Ban Quản Lý Dự Án Điện Lực Miền Nam</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- Javascript -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminLTE")
    @Scripts.Render("~/bundles/javascript")
    @*@Scripts.Render("~/bundles/hightchart")*@
    @Scripts.Render("~/bundles/private")

    <script>
        $('.select2').select2();
        $(document).ready(function () {
            var ColDef = $("#example").attr("data-parameter");
            if (ColDef == "ColDef") {
                $('#example').DataTable({
                    responsive: true,
                    language: {
                        url: "//cdn.datatables.net/plug-ins/1.10.15/i18n/Vietnamese.json"
                    },
                    select: true,
                    columnDefs: [
                        { targets: [2, 3], width: '15%' }
                    ],
                    scrollY: "400px",
                    scrollX: true,
                    aaSorting: []
                }); 
            }
            else if(ColDef == "notCreate")
            {

            }
            else if (ColDef == "NoResponsive")
            {
                $('#example').DataTable({
                    responsive: false,
                    language: {
                        url: "//cdn.datatables.net/plug-ins/1.10.15/i18n/Vietnamese.json"
                    },
                    select: true,
                    columnDefs: [
                        { targets: [2, 3], width: '15%' }
                    ],
                    scrollY: "400px",
                    scrollX: true,
                    aaSorting: []
                });
            }
            else {
                $('#example').DataTable({
                    responsive: true,
                    language: {
                        url: "//cdn.datatables.net/plug-ins/1.10.15/i18n/Vietnamese.json"
                    },
                    select: true,
                    scrollY: "400px",
                    scrollX: true,
                    aaSorting: [],
                    //initComplete: function () {
                    //    $(this.api().table().container()).find('input').parent().wrap('<form>').parent().attr('autocomplete', 'off');
                    //},
                });
            }
        });

        $('#btnDongY').click(function () {
            var idSelected = $("#example .selected").attr("id");
            if (idSelected != undefined) {
                Loading();
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("Delete")',
                    data: { id: idSelected },
                    success: function (data) {
                        $('#example').DataTable().row('.selected').remove().draw(false);
                        LoadingHide();

                        $.notify({
                            // options
                            message: 'Xóa thành công'
                        }, {
                            // settings
                            type: 'info'
                        });
                    },
                    error: function () {
                        LoadingHide();
                        $.notify({
                            // options
                            message: 'có lỗi xảy ra'
                        }, {
                            // settings
                            type: 'danger'
                        });
                    },
                })
            }
        });

        $('#btnCapNhat').click(function () {
            var idSelected = $("#example .selected").attr("id");
            if (idSelected != undefined) {
                var url = '@Url.Action("Edit", new { id = "_TOREPLACE_" })';
                url = url.replace('_TOREPLACE_', idSelected);
                window.location.href = url;
            } else {
                $.notify({
                    // options
                    message: 'Bạn chưa chọn dòng nào'
                }, {
                    // settings
                    type: 'danger'
                });
            }
        });
        $("input[class='cbootstrapSwitch']").bootstrapSwitch();
        $('.cDataPicker').datepicker({
            dateformat: 'dd/mm/yy'
        });
        $('.CheckNumber').maskNumber(
               {
                   integer: true,
                   //thousands: "."
               }
        );

        function ModalDoimatKhau()
        {
            $("#ModalDoimatKhau").modal('show');
        };
        $("#btnLuuMatKhau").click(function () {
            $.ajax({
                method: 'POST',
                url: '@Url.Action("CapNhatMatKhau","HT_NguoiDung")',
                data: {
                    password_new: $("#password_new").val(),
                    password_old: $("#password_old").val(),
                    password_repair: $("#password_repair").val()
                },
                success: function (data) {
                    $("#ResultDoiMatKhau").text(data)
                }
            })
        });
        $("#btnThoatMatKhau").click(function () {
            $("#ModalDoimatKhau").modal('hide');
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
