@model IEnumerable<HopDongMgr.Models.SuKhongPhuHop>

<table id="datatable_ChiTiet" class="display nowrap dataTable dtr-inline" cellspacing="0" role="grid" aria-describedby="example_info" style="width: 100%;">
    <thead>
        <tr role="row">
            <th>Sự không phù hợp</th>
            <th>Vị trí</th>
            <th>Sản phẩm</th>
            <th>Căn cứ</th>
            <th>Nội dung</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr role="row" id="@item.Id">
                <td class="sorting_1">
                    @Html.DisplayFor(modelItem => item.SuKph)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViTri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanCu)
                </td>
                <td style="white-space: normal">
                    @Html.DisplayFor(modelItem => item.NoiDung)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var table = $('#datatable_ChiTiet').DataTable({
        select: false,
        language: {
            url: "//cdn.datatables.net/plug-ins/1.10.15/i18n/Vietnamese.json"
        },
        scrollY: "400px",
        scrollX: true
    });
</script>
