@model HopDongMgr.Models.DM_LoaiHopDong

@{
    ViewBag.Title = "TẠO MỚI LOẠI HỢP ĐỒNG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @*@Html.LabelFor(model => model.TenLoai, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Tên loại hợp đồng </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @*@Html.LabelFor(model => model.Khoa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Khóa</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @{
                        bool Khoa = false;
                    }
                    @Html.CheckBoxFor(Model => Khoa, new Dictionary<string, object>() { { "checked", "true" }, { "data-off-color", "danger" }, { "class", "cbootstrapSwitch" } })
                    @Html.ValidationMessageFor(model => model.Khoa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
      
        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <input type="button" value="Quay lại" class="btn btn-default" onclick="location.href='@Url.Action("Index")'" />

            </div>
        </div>
    </div>
}